@font-face {
  font-family: 'Georgia';
  src:
    url('../fonts/Georgia.woff') format('woff'),
    url('../fonts/Georgia.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: wrap;
}

@font-face {
  font-family: 'Lora-Italic';
  src:
    url('../fonts/Lora-Italic.woff') format('woff'),
    url('../fonts/Lora-Italic.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: wrap;
}

@font-face {
  font-family: 'NotoSans';
  src:
    url('../fonts/NotoSans.woff') format('woff'),
    url('../fonts/NotoSans.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: wrap;
}

@font-face {
  font-family: 'OpenSans';
  src:
    url('../fonts/OpenSans-Light.woff') format('woff'),
    url('../fonts/OpenSans-Light.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: wrap;
}