*,*:before, *:after
  box-sizing: border-box //не надо считать высотус учетом внутреннего отсупа
html
  width: 100%
  max-width: 100%
  overflow-x: hidden
  scroll-behavior: smooth
body
  font-family: 'OpenSans', sans-serif
  font-size: 16px
  width: 100%
  max-width: 100%
  overflow-x: hidden
input 
  outline: none
  font-size: 18px
  line-height: 35px
  font-weight: normal
  border: none
  border-bottom: 1px solid #939497
a
  color: #ffffff
  text-decoration: none
h1
  margin: 0
ul
  padding: 0
a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus, 
  outline: 0!important
  outline-color: transparent!important
  outline-width: 0!important
  outline-style: none!important
  box-shadow: 0 0 0 0 rgba(0,123,255,0)!important
